.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media #{$smWidth $xsWidth} {
    justify-content: flex-start;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 45px 60px 0 43px;

    .chain_info {
      display: flex;
      align-items: center;
    }

    .connected_chain {
      width: 66px;
      height: 32px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 4px;
      img {
        width: 16px;
      }

      p{
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        margin-left: 4px;
      }
    }



    @media #{$smWidth $xsWidth} {
      margin: 30px 24px;

      img{
        width: 136px;
        height: 32px;
        object-fit: contain;
      }
    }

    img {
      width: 170px;
      height: 40px;

      @media #{$smWidth $xsWidth} {
        width: 136px;
      }

    }

    .wallet {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4px;
      height: 32px;
      padding: 0 16px;
      display: flex;
      align-items: center;


      &__balance {
        padding-right: 16px;
        border-right: 1px #ffffff solid;
        font-size: 13px;
      }

      &__address {
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 12px;

        &:hover {
          opacity: 0.9;
        }

        @media #{$smWidth $xsWidth} {
          p {
            display: none;
          }
        }

        .dot {
          width: 12px;
          height: 12px;
          background: linear-gradient(135deg, #FFFFFF 4.17%, rgba(255, 255, 255, 0) 75%);
          border: 0.6px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 6px;
          margin-right: 6px;
        }

        svg {
          width: 16px;
          margin-left: 6px;
          cursor: pointer;

          @media #{$smWidth $xsWidth} {
            display: none;
          }

          &:hover {
            g {
              opacity: 1;
            }
          }
        }
      }
    }
  }

}

.bridge {
  width: 480px;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 32px 28px 32px;

  @media #{$smWidth $xsWidth} {
   width: 100%;
  }

  @media #{$mdHeight} {
    margin-top: 64px;
  }

  .inputs {
    position: relative;
    margin: -20px;
    & > * {
      margin: 20px;
    }
  }

  &__title {
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 18px;
    line-height: 148.69%;
    letter-spacing: 0.01em;
  }

  &__dropdown_frame{
    display: flex;

    img{
      padding: 0 20px;
      padding-top: 24px;
    }

    @media #{$smWidth $xsWidth} {
      flex-direction: column;

      img{
        width: 24px;
        height: 24px;
        padding: unset;
        margin: 16px auto auto;
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
        transform: rotate(90deg);
      }
    }



    .dropdown {
      width: 178px;
      height: 80px;

      span{
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 148.69%;
        color: rgba(255, 255, 255, 0.6)
      }
      div{
        height: 8px;
      }
    }

    .dropdown:hover {
      z-index: 9;
    }

  }

  &__input_frame{
    display: flex;
    flex-direction: column;
    margin-top: -4px!important;
    & > * {
      margin-top: 4px;
    }

    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 148.69%;
    }

    input {
      height: 48px;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 14px;
      outline: none;
      border: 1px solid transparent;
      color: #ffffff;
      padding: 20px;
      padding-right: 100px;
      font-size: 16px;
      font-family: Roboto-Regular;

      &:hover, focus{
        border-color: rgba(255, 255, 255, 0.6);
      }
      &:focus {
        border-color: rgba(255, 255, 255, 0.6);
      }
    }

    img{
      width: 24px;
      height: 24px;
      position: absolute;
      margin-top: 37px;
      margin-left: 20px;
      z-index: 0;
    }

    .error {
      color: rgba(255, 0, 0, 1);
      font-size: 13px;
    }

    .max {
      position: absolute;
      margin-top: 37px;
      margin-left: 338px;
      width: 64px;
      height: 28px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      line-height: 26px;
      padding: 0;
      background-color: transparent;
    }
  }

  button{
    width: 100%;
    height: 48px;
    display: flex;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 100px;
    line-height: 48px;
    justify-content: center;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:disabled {
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
  }
}

.extra {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  width: 352px;
  height: 48px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  padding: 0 40px;

  p{
    margin-right: 20px;
  }

  img{
    margin-right: 12px;
    height: 28px;
  }

  .arrow{
    flex: 1;
    height: 12px;
  }

  h5 {
    font-size: 16px;
    font-family: Roboto-Regular;
    color: #ffffff;
  }

  @media #{$smWidth $xsWidth} {
    width: 100%;
  }


}

.switch_btn {
  width: 416px!important;
  height: 48px!important;
  margin-top: 32px;
  &:hover{
    opacity: 0.6;
  }
}

.claim {
  &__amount {
    font-family: Futura-PT;
    font-style: normal;
    font-weight: 500;
    font-size: 28px!important;
    line-height: 148.69%;
    margin-bottom: 24px;
  }
}

.claimed_mode {

  >img{
    width: 32px;
    height: 32px;
  }

  a{
    margin-top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 148.69%;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .add_token {
    width: 210px;
    height: 36px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    cursor: pointer;

    img {
      width: 15.88px;
      margin-left: 8px;
    }
  }
}