.home {
  &__frame {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &_blocks{
      width: 1200px;
      margin: auto;
      height: 862px;
      display: flex;
      position: relative;
      color: #000000;

      h2 {
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        position: absolute;
        margin: auto;
        top: 421px;
        width: 100%;
        text-align: center;
      }
    }

    &__block{
      text-align: center;
      border-radius: 1000px;
      width: 237px;
      height: 237px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #000000;
      display: inline-flex;

      img{
        margin-bottom: 11px;
      }

      h5{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 123.19%;
      }

      p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 134.69%;
      }


    }

    @media #{$smWidth $xsWidth} {
      height: fit-content;
    }

    header{
      display: flex;
      justify-content: space-between;
      margin: 45px 60px 0 43px;

      @media #{$smWidth $xsWidth} {
        margin: 34px 0 0 26px;
      }

      img{
        width: 170px;
      }

      a {
        font-family: Jost;
        height: 36px;
        line-height: 36px;
        border-radius: 100px;
        padding: 0 18px;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.1);

        @media #{$smWidth $xsWidth} {
          display: none;
        }
      }
    }

    &__page {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 48px;
      margin: auto;
      width: 1200px;

      @media #{$smWidth $xsWidth} {
        flex: none;
        padding-left: 0;
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 12px;
        video{
          width: 100%;
        }
      }

      &__content {

        @media #{$smWidth $xsWidth} {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__title {
          font-family: Jost;
          font-style: normal;
          font-weight: bold;
          font-size: 46px;
          max-width: 642px;
          z-index: 9;
          width: 642px;

          @media #{$smWidth $xsWidth} {
            font-size: 23px;
            width: 100vw;
            padding: 0 24px;
            text-align: center;
            line-height: 132%;
          }
        }

        a{
          font-family: Jost;
          height: 44px;
          font-size: 18px;
          line-height: 44px;
          border-radius: 100px;
          color: #ffffff;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          margin-top: 44px;
          margin-bottom: 46px;
          width: 260px;
          @media (min-width: 748px) {
            display: none;
          }
        }

        &__sub_title{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 36px;
          margin-top: 18px;
          margin-bottom: 28px;
          opacity: 0.6;
          z-index: 9;
          width: 686px;

          @media #{$smWidth $xsWidth} {
            font-size: 16px;
            width: 100vw;
            padding: 0 24px;
            text-align: center;
            line-height: 132%;
          }
        }

        &__calc {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          width: fit-content;
          border: 1.4px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          padding: 16px 30px;
          z-index: 9;

          @media #{$smWidth $xsWidth} {
            width: 240px;
            margin: auto;
            font-size: 14px;
            line-height: 36px;
            height: 36px;
            padding: 0 30px;
          }
        }
      }


    }

    &__bottom {
      padding-top: 170px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media #{$smWidth $xsWidth} {
        font-size: 24px;
        line-height: 133.5%;
        padding-top: 43px;
      }

      &__backed {
        display: flex;
        gap: 122px;
        margin-top: 106px;

        @media #{$smWidth $xsWidth} {
          flex-direction: column;
          gap: 0;
          margin-top: 0;
          img {
            width: 108px;
            margin-top: 53px;
          }
        }
      }

      &__divider{
        width: 1px;
        height: 46px;
        background-color: rgba(255, 255, 255, 0.2);

        @media #{$smWidth $xsWidth} {
          display: none;
        }
      }

      &__footer{
        width: 100%;
        height: 159px;
        margin-top: 251px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 62px 70px;

        @media #{$smWidth $xsWidth} {
          margin-top: 60px;
          height: 107px;

          img{
            display: none;
          }

          ul{
            width: 100vw;
            gap: 48px;
            display: flex;
          }
        }

        ul{
          display: flex;
          gap: 48px;

          li{
            @media #{$smWidth $xsWidth} {
              flex: 1;
              display: flex;
              justify-content: center;
            }
            a {
              svg {
                fill: #7a7f82;
              }
              &:hover svg {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }

  }
}

.block1 {
  background: linear-gradient(213.92deg, #FFFFFF 23.05%, rgba(255, 255, 255, 0) 86.8%);
  margin-top: 364px;
  margin-bottom: 257px;
}

.block2 {
  background: linear-gradient(251.9deg, #FFFFFF 18.8%, rgba(255, 255, 255, 0) 90.96%);
  margin-top: 156px;
  margin-bottom: 465px;

}

.block3 {
  background: linear-gradient(105.22deg, #FFFFFF 8.89%, rgba(255, 255, 255, 0) 93.32%);
  margin-top: 545px;
  margin-bottom: 76px;
  margin-left: -30px;
}

.block4 {
  background: linear-gradient(279.55deg, #FFFFFF 12.34%, rgba(255, 255, 255, 0) 94.05%);
  margin-top: 122px;
  margin-bottom: 499px;
  margin-left: -20px;
}

.block5 {
  background: linear-gradient(57.31deg, #FFFFFF 10.78%, rgba(255, 255, 255, 0) 83.71%);
  margin-top: 502px;
  margin-bottom: 119px;
}

.block6 {
  background: linear-gradient(17.22deg, #FFFFFF 5.24%, rgba(255, 255, 255, 0) 90.68%);
  margin-top: 203px;
  margin-bottom: 418px;
  margin-left: -136px;
}